/*.fondo
{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    position: absolute;
    color:aliceblue;
    box-shadow: 
        170px 240px 0 0 currentColor,
        320px 240px 0 0 currentColor;      
}*/
.letras 
{
    background-color: aliceblue;
    margin-left: 100px;
    margin-top: 200px;
    width: 400px;
    height: 260px;
    border-radius: 10%;
    color: black;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.letras p
{
    display: table-cell;
    margin: 0;
    padding: 4rem 10rem;
    vertical-align: middle;
    font-family:consolas;
    font-size: 2em;
}

.letras p3
{
    display: table-cell;
    margin: 0;
    padding: 2rem 0rem;
    vertical-align: middle;
    font-family:consolas;
    font-size: medium;
}
.botones p
{
    margin-left: 10px;
    margin-top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5%;
    cursor: pointer;
    position: absolute;
    background-color:rgb(43, 99, 253);
    color: white;

}
.letras::before{
    content: " ";
    position: absolute; 
    margin-left: 130px;
    margin-top: -80px;
    width: 140px;
    height: 140px;
    border: solid 1px currentColor;
    background-color:aliceblue;
    border-radius: 100px;
}
.botones p
{
    margin-left: 110px;
    margin-top: -60px;
    width: 240px;
    height: 35px;
    border-radius: 5%;
    cursor: pointer;
    position: absolute;
    background-color:rgb(13, 122, 194);
    color: white;
    text-align: center;
    font-size:larger;
    padding-top: 15px;
    font-family:consolas;
}

